---
import RelatedBlogs from "../components/RelatedBlogs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Step-by-step guide to choosing great font pairs">
    <main>
        <div class="container py-12 md:py-20 cms__page">
            <div class="flex items-center gap-3 mb-4">
                <img src="/images/user.png" alt="Shuvro Dev" class="w-12 h-12 rounded-full" />
                <div class=" flex-1">
                    <p class="text-lg font-medium text-primary !mb-0">
                        <a href="#" class="text-primary hover:text-dark">Shuvro Dev Roy</a>
                    </p>
                    <p class="text-sm !mb-0">Posted on 27th January 2022</p>
                </div>
            </div>

            <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold text-dark mb-5">Step-by-step guide to choosing great font pairs</h1>


            <img src="/images/blog-thumb.jpg" alt="blog thumbnail" class="w-full rounded-lg aspect-[16/6] h-full mb-10" />


            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati non voluptate veniam excepturi enim. Eligendi, necessitatibus ratione? Autem vitae pariatur natus expedita vero hic magnam nemo, nobis corporis nisi repellat excepturi perspiciatis voluptatem eius quaerat quisquam explicabo aliquid nihil dolore ipsa iste laudantium minima dicta praesentium! Officiis in asperiores aliquid accusantium deleniti suscipit ipsam earum iste illum tenetur perferendis veritatis omnis unde optio vero quidem, adipisci laudantium repudiandae nihil quisquam odio fugiat libero! Distinctio unde, adipisci doloremque dolores atque iste hic sapiente est qui minus fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati non voluptate veniam excepturi enim. Eligendi, necessitatibus ratione? Autem vitae pariatur natus expedita vero hic magnam nemo, nobis corporis nisi repellat excepturi perspiciatis voluptatem eius quaerat quisquam explicabo aliquid nihil dolore ipsa iste laudantium minima dicta praesentium! Officiis in asperiores aliquid accusantium deleniti suscipit ipsam earum iste illum tenetur perferendis veritatis omnis unde optio vero quidem, adipisci laudantium repudiandae nihil quisquam odio fugiat libero! Distinctio unde, adipisci doloremque dolores atque iste hic sapiente est qui minus fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati non voluptate veniam excepturi enim. Eligendi, necessitatibus ratione? Autem vitae pariatur natus expedita vero hic magnam nemo, nobis corporis nisi repellat excepturi perspiciatis voluptatem eius quaerat quisquam explicabo aliquid nihil dolore ipsa iste laudantium minima dicta praesentium! Officiis in asperiores aliquid accusantium deleniti suscipit ipsam earum iste illum tenetur perferendis veritatis omnis unde optio vero quidem, adipisci laudantium repudiandae nihil quisquam odio fugiat libero! Distinctio unde, adipisci doloremque dolores atque iste hic sapiente est qui minus fugit.</p>

            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.</p>

            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus dolor iusto, consequuntur veniam maiores harum nesciunt reiciendis eos possimus ut officiis esse fugit sint ad! Et nobis iusto, repudiandae voluptates, tenetur quo quis commodi dignissimos aliquam adipisci earum veritatis perferendis assumenda quisquam natus possimus laudantium voluptate! Quis eveniet qui atque voluptatem quasi voluptatum fugit quaerat. Libero officia ipsa sit aperiam distinctio facere accusamus rerum delectus hic eos laboriosam consequatur praesentium at magnam, modi, est voluptates quo. Doloribus repellendus, itaque quae sint aliquam eligendi aut alias, illo dolor laudantium optio officiis cum veniam dolores iure! Porro eveniet mollitia tempora impedit! Magni nostrum optio omnis maiores minus ea?</p>



        </div><!--.container -->



        <RelatedBlogs />

    </main>
</Layout>



<style>
    .cms__page h2 { @apply mt-10 mb-2 text-xl md:text-2xl lg:text-3xl font-bold text-dark }
    .cms__page h3 { @apply mt-6 mb-2 text-lg md:text-xl lg:text-2xl font-bold text-dark }
    .cms__page p { @apply mb-4 text-[#6D6E76] }
    .cms__page { @apply mb-4 text-[#6D6E76] }
</style>