--- 
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Heading2 from '../components/Heading2.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Astro blog cms"> 
	<main>
		<header class="relative py-20 min-h-[600px] flex items-center">
			<img 
				src="images/home-hero-banner.jpg" 
				alt="banner image"
				class="absolute top-0 left-0 w-full h-full z-0 object-cover"
			>
			<div class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-black to-[rgba(0,0,0,0)] opacity-65"></div>
			<div class="container relative z-30">
				<div class="lg:w-[60%]">
					<h1 class="text-3xl md:text-4xl lg:text-4xl 2xl:text-5xl font-bold text-white mb-6">
						Step-by-step guide to choosing great font pairs
					</h1>
					<p class="text-white mb-3">
						By <a href="#">Shuvro Dev</a>
						<span class="px-3">|</span>
						<span>December 24, 2024</span>
					</p>
					<p class="text-white mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
					
					<Button 
						slug="#"
						text="Read more"
					/>
				</div>
			</div>
		</header>

		<section class="py-20">
			<div class="container">
				<div class="flex flex-wrap flex-row">
					<div class="w-full lg:w-[60%] lg:pr-5">
						<Heading2 
							title="Featured Post"
						/>

						<div class="border border-slate-300 p-4 rounded-md">
							<a href="#" class="block">
								<img 
									src="/images/blog-thumb.jpg" 
									alt="Blog image"
									class="w-full rounded-md"
								>
							</a>
							<div class="pt-4">
								<h3 class=" text-xl md:text-2xl font-semibold mb-4">
									<a href="#" class="text-dark hover:text-primary">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
									</a>
								</h3>
								<p class="ellipsis">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero corrupti delectus amet, ratione laboriosam expedita, sed odio voluptas necessitatibus alias, nulla soluta ex eaque molestiae veritatis minima quasi fuga. Fugiat dolorem quos doloremque pariatur iure.
								</p>
							</div>
						</div>
					</div>
				</div>



			</div>
		</section>


	</main>
</Layout>
