


<div class="flex items-center gap-3 mb-2 small font-medium text-grey">
    <div class="inline-flex items-center gap-2">
        <span>By</span>
        <a href="#" class="text-primary">Shuvro Dev</a>
    </div>
    <div class="">|</div>
    <div>Dec 23, 2021 </div>
</div>